body{
  /* margin:0px; */
}
:root{
  --xlen: 3;
  --ylen: 1;
  --animloop: 5;
  /* --animloop: 1; */
  --animfn: linear(0 0%, 1 50%, 1 100%);
  --animspeed: 0.25s;
  --text: "営業中";
  --fillmode: both;
}
@keyframes lt {
  0%{
    top: calc(var(--ylen)/2 * 1em);
    left: calc(var(--xlen)/2 * 1em);
  }
  100%{
    top: 0;
    left: 0;
  }
}
@keyframes lb {
  0%{
    top: calc(var(--ylen)/2 * -2em);
    left: calc(var(--xlen)/2 * 1em);

  }
  100%{
    top: calc(var(--ylen)/2 * -1em); 
    left: 0;
  }
}

@keyframes rt {
  0%{
    top: calc(var(--ylen)/2 * 1em);
    left: calc(var(--xlen)/2 * -2em);
  }
  100%{
    top:0;
    left: calc(var(--xlen)/2 * -1em); 
  }
}
@keyframes rb {
  0%{
    top: calc(var(--ylen)/2 * -2em);
    left: calc(var(--xlen)/2 * -2em);
  }
  100%{
    top: calc(var(--ylen)/2 * -1em);
    left: calc(var(--xlen)/2 * -1em);
  }
}
/* .c2{
  padding: 20px;
} */
.container{
  position: relative;
  border:20px solid orange;
  font-size: 120px;
  width:calc(var(--xlen)  * 1em);
  height:calc( var(--ylen) * 1em); 
  background-color: orange;
}
.target{
  font-weight: bold;
  font-size: 120px;
  line-height: 1em;
  position: absolute;
  overflow: hidden;
  background-color: orange;
  color: white;
  width:calc(var(--xlen) / 2 * 1em);
  height:calc( var(--ylen)/2 * 1em); 
}

.t-lb{
  top: calc(var(--ylen)/2 * 1em);
}
.t-rt{
  left: calc(var(--xlen)/2 * 1em);
}
.t-rb{
  top: calc(var(--ylen)/2 * 1em);
  left: calc(var(--xlen)/2 * 1em);
}

.target::after{
  content: var(--text);
  /* font-size: 120px; */
  white-space: nowrap;
  position: absolute;
}

.t-lt::after{
  animation: lt var(--animspeed) var(--animloop) var(--animfn);
  animation-fill-mode: var(--fillmode);
  animation-d;
  
}

.t-lb::after{
  content: var(--text);
  animation: lb var(--animspeed) var(--animloop) var(--animfn);
  animation-fill-mode: var(--fillmode);
  
}

.t-rt::after{
  animation: rt var(--animspeed) var(--animloop) var(--animfn);
  animation-fill-mode: var(--fillmode);

}
.t-rb::after{
  animation: rb var(--animspeed) var(--animloop) var(--animfn);
  animation-fill-mode: var(--fillmode);

}